/*div formatting*/
  body {
    background-image: url('../images/pictures/fake_news_(1).png');
      /*Note for future editing: the url is relative to the CSS file, not the html file.*/
    background-color:#F2F2F2;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    text-align: center;
  }
  header {
    height:10vh;
    background-color: #AADEE4;
    padding: 0;
    z-index: 1;
  }
  header > div:first-child {
    float: left;
    height: 15vh;
    width: 15vh;
    position: absolute;
    left: 5vh;
    background-color: #ffffff;
  }
  header > div {
    height:10vh;
    width:10vh;
    background-color:#AADEE4;
    float:right;
    box-sizing: border-box;
    border: solid #AADEE4 1.25vh;
  }
  .dropdown{
    height: 48vh;
    width: 20vw;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #AADEE4;
    visibility: hidden;
    z-index: 1000;
    text-align: center;
  }
  .dropdown div {
    height: 8vh;
    width: 19vw;
    padding-left: 1vw;
    float: left;
  }
  body > div {
    overflow-y: auto;
    height: 90vh;
    display: none;
  }
  #opening_div {
    overflow-y: auto;
    height: 90vh;
    z-index: -5;
    display: block;
  }
  #proceed_button {
    height: 5vh;
    width: 12vw;
    top: 0;
    position: relative;
    left: 6vw;
    background-color: #AADEE4;
    text-align: center;
  }
  section > div {
    height:45vh;
    width:25vw;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-left:20vh;
    top:30vh;
    padding-top: 3vh;
    background-color:#ffffff;
    z-index:3;
    position:absolute;
    outline-style: outset;
    outline-color: #AADEE4;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
  }
  div div div {
    position: absolute;
    width: 50vw;
    height:18vh;
    z-index:1;
    left: 20vw;
    top: 10vh;
    text-align: right;
    margin: 0;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    margin: 1vw;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 48vh;
    background-color: #020C1D;
    color: #ffffff;
    text-align: left;
    border-radius: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    z-index: 6;
    bottom: 0%;
    left: 18vw;
    margin-left: -8vh;
    line-height: 3vh;
  }
  .tooltip_footer{
    position: absolute;
    display: inline-block;
    text-align: right;
    bottom:0vh;
    right: 5vw;
  }
  .tooltiptext_footer{
    padding-bottom: 1vh;
    visibility: hidden;
    width: 200vh;
    background-color: #091D3A;
    color: #ffffff;
    text-align: left;
    padding-left: 10vw;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: -5vw;
  }
    .tooltiptext_footer > p{font-size: 2vh}

  footer > img{
    width: 5vh;
    height: 5vh;}
  .tooltip_footer:hover .tooltiptext_footer{visibility: visible;}
/*image formatting*/
  header > div img {height: 100%;}
  .tooltip img{
    width: 100%; 
    height: 100%;
  }
/*animation*/
  header div:hover {
    border-color: #091D3A;
    cursor: pointer;
  }
  .tooltip:hover .tooltiptext {visibility: visible;}
  header > div:hover .dropdown{visibility: visible;}
  .dropdown div:hover{
    background-color: #091D3A;
    color: white;
  }
/*text formatting*/
  * {
    font-family: Helvetica, Geneva, Arial, sans-serif;
  }
  h1{
    display: inline;
    font-size: 8vh;
  }
  h3{display: inline;}